.appicon01
{
    background: url(../img/appicon/01.png);
}
.appicon02
{
    background: url(../img/appicon/02.png);
}
.appicon03
{
    background: url(../img/appicon/03.png);
}
.appicon01, .appicon02, .appicon03
{
	display: block;
    position: absolute;
    width: 160px;
    height: 150px;
}
.appicon01:hover, .appicon02:hover, .appicon03:hover
{
    text-decoration: none;
}
.appiconcb
{
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 160px;
    height: 25px;
}
.appiconc
{
    position: absolute;
    left: 0px;
    bottom: 10px;
	text-align: center;
    width: 160px;
    height: 25px;
    line-height:25px;
    font-family: Verdana, Arial;
	color: #fff;
	font-size:14px;
	text-decoration:none;
}
.appicon01:hover .appiconcb, .appicon02:hover .appiconcb, .appicon03:hover .appiconcb
{
    background-color: #fff;
    filter: alpha(opacity=30);
    opacity: .3;
}
.appicon01:hover .appiconc, .appicon02:hover .appiconc, .appicon03:hover .appiconc
{
	color: #000;
}
.jssorb18 div, .jssorb18 div:hover, .jssorb18 .av
{
    background: url(../img/b18.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb18 div { background-position: -3px -3px; }
.jssorb18 div:hover, .jssorb18 .av:hover { background-position: -33px -3px; }
.jssorb18 .av { background-position: -63px -3px; }
.jssorb18 .dn, .jssorb18 .dn:hover { background-position: -93px -3px; }

.jssorb18 .n
{
    display: none;
    color: #000;
}
.jssorb18 div:hover .n, .jssorb18 .av .n, .jssorb18 .av:hover .n, .jssorb18 .dn .n { display: block; }