.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
	font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
    background: url(../img/browser-icons.png);
}
.share-icon {
    display: inline-block;
    float: left;
    margin: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/share/share-icons.png);
}
.share-facebook {
    background-position: 0px 0px;
}
.share-facebook:hover {
    background-position: 0px -40px;
}
.share-twitter {
    background-position: -40px 0px;
}
.share-twitter:hover {
    background-position: -40px -40px;
}
.share-pinterest {
    background-position: -80px 0px;
}
.share-pinterest:hover {
    background-position: -80px -40px;
}
.share-linkedin {
    background-position: -240px 0px;
}
.share-linkedin:hover {
    background-position: -240px -40px;
}
.share-googleplus {
    background-position: -120px 0px;
}
.share-googleplus:hover {
    background-position: -120px -40px;
}
.share-stumbleupon {
    background-position: -360px 0px;
}
.share-stumbleupon:hover {
    background-position: -360px -40px;
}
.share-email {
    background-position: -320px 0px;
}
.share-email:hover {
    background-position: -320px -40px;
}
@media only screen and (max-width: 980px) {
    .qr_code {
        display: none;
    }
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
{
    background: url(../img/b03.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssora20l, .jssora20r, .jssora20ldn, .jssora20rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a20.png) no-repeat;
    overflow:hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20ldn { background-position: -243px -33px; }
.jssora20rdn { background-position: -303px -33px; }